#brand-name-nav{
    font-size: 35px;
    font-weight:600;
    color: #ececec;
}
.nav-link-cstm{
    font-size: 25;
    color: #c5c5c5 !important;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.4 all;
    z-index:9999999999;
}
.nav-link-cstm:hover{
    color: #e0e0e0 !important;
}
.nav-link-cstm::after{
    content:'';
    display: block;
    width:50%;
    height:3px;
    border-radius:5px;
    background-color:#f8005f;
    transition:width .4s;
}
.nav-link-cstm:hover::after{
    width: 100%;
    display: block;
    background-color: #e06c00;
    transition: width .4s;
}
#nav-bg-clr-cstm{
    background: #141414a4;
    backdrop-filter: blur(4px);
}

.rspnv-sbrnd{

}

@media screen and (max-width: 620px ){
   
    .rspnv-sbrnd{
        font-size: 25px !important;
    }
   

}