#Footer{
    position: relative;
    background: #111;
    min-height: 65vh;

}
.ftr-ttl-tx-dsg{
    position: relative;
    color: #cecece;
    font-size: 30px;
    font-weight: 500;
}
.ftr-ttl-tx-dsg::after{
    content:'';
    display: block;
    width:23%;
    height:3.5px;
    margin-top: 5px;
    border-radius:8px;
    background-color: #e94a00;
    transition:width .4s;
}
.ftr-abt-p-tx-cl{
    color: #acacac;
    letter-spacing: 0.8px;
    font-size: 17px;
}
.ftr-scl-mda-icn-dsg ul{
    display: flex;
    margin-left: 0;
    padding-left: 0;
    transition: 0.4s;
}
.ftr-scl-mda-icn-dsg ul li{
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #303030;
    margin-right: 12px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.4s;
    overflow: hidden;
}
.ftr-scl-mda-icn-dsg ul li a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #e9e9e9;
    overflow: hidden;
    font-size: 21px;
    width: 40px;
    height: 40px;
    transition: 0.4s;
}
.ftr-scl-mda-icn-dsg ul li:hover{
    transform: translateY(-4px);
}
.ftr-scl-mda-icn-dsg ul li:hover .sci-dsg-fb{
    overflow: hidden;
    background: #2236e2;
    color: #e7e7e7;
    text-shadow: 2px 1px 3px #1b1b1ba1;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}
.ftr-scl-mda-icn-dsg ul li:hover .sci-dsg-tw{
    overflow: hidden;
    background: #1493e2;
    color: #e7e7e7;
    text-shadow: 2px 1px 3px #1b1b1b7a;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}
.ftr-scl-mda-icn-dsg ul li:hover .sci-dsg-ig{
    overflow: hidden;
    background: radial-gradient(circle farthest-corner at 35% 90%, #f1b64f, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #e0ab4e, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #444bd1, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #474dc9, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #8533c4, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #7e2fbb, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #ce2870, transparent), linear-gradient(#594dc7, #b32987 30%, #d83152 50%, #e4672e 70%, #e4a848 100%);
    color: #e7e7e7;
    text-shadow: 2px 1px 3px #1b1b1b7a;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}
.ftr-scl-mda-icn-dsg ul li:hover .sci-dsg-pt{
    overflow: hidden;
    background:#e60023;
    color: #e7e7e7;
    text-shadow: 2px 1px 3px #1b1b1b7a;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}
.ftr-scl-mda-icn-dsg ul li:hover .sci-dsg-ytb{
    overflow: hidden;
    background:#f00000;
    color: #e7e7e7;
    text-shadow: 2px 1px 3px #1b1b1b7a;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}
.ftr-scl-mda-icn-dsg h5{
    position: relative;
    color: #c4c4c4;
    letter-spacing: 1.5px;
    font-size: 22px;
}

.ftr-scl-mda-icn-dsg h5::before {
    content: '';
    position: absolute;
    top: 80%;
    left:32.8%;
    width: 101px;
    height: 1.5px;
    border-radius: 8px;
    background: #e94a00;
}
.useful-links{
    padding: 0;
    margin: 0;
}
.useful-links li{
    list-style: none;
    text-decoration: none;   
    margin-bottom: 15px;
}
.cstm-usefil-lnk{
    color: #a1a1a1;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    transition: 0.4s;
}
.cstm-usefil-lnk:hover{
    color: #e6e6e6;
}
.cstm-usefil-lnk:focus{
    color: #e94a00;
    border-left: 2px solid #e94a00;
    padding-left: 4px;
}
.lctn-nmbr-mail{
    display: flex;
}
.lctn-nmbr-mail .icon{
    margin-right: 8px;
    font-size: 23px;
    color: #cecece;
}
.lctn-nmbr-mail p{
    color:#acacac ;
}
.ml-btm-xtra{
    margin-top: 2.5px;
}
.copyright-p{
    color: #8d8d8d;
    font-size: 17px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-top: 50px;
}